* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
}

h1 {
  margin: 0;
}

.nav {
  height: 60px;
}

.navbar {
  display: flex;
}

.btn_kundvagn {
  margin-left: auto;
}

.main_content {
  grid-column: 1 / span 5;
}

.kundvagn {
  grid-column: 1 / span 5;
}

.wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.checkout {
  grid-column: 1 / span 5;
}
